.summary .tier {
  text-transform: capitalize;
  font-weight: bold;
}

.summary .tier.gold{
  color: #EFA700;
}
.summary .tier.silver{
  color: #A0A0A0;
}

.footer {
  text-align: center;
}
.footer a {
  text-decoration: underline;
}
